/////////////////////////////////////////////
// Animations
////////////////////////////////////////////


/////////////////////////////////////////////
// Base
////////////////////////////////////////////

:root {
  --color-lightest: #fff;
  --color-lighter: #f0f0f0;
  --color-light: #e5e5e5;

  --color-darkest: #666;
  --color-darker: #999;
  --color-dark: #ccc;

  // alternative green #46d27c, #dbf7e6
  --color-primary: #4662D2;
  --color-primary-light: #E1ECF6;

  --color-orange: #ffdaa4;
  --color-green: #b6d8b6;

  --default-font-size: 1.6rem;
  --default-font-color: var(--color-darkest);
  --default-border: 1px solid #fafafa;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%
}

body {
  background-color: var(--color-lighter);
  overflow-x: hidden;
}

/////////////////////////////////////////////
// Typhography
////////////////////////////////////////////

body {
  font-family: 'Nunito', sans-serif;
  font-size: var(--default-font-size);
  font-weight: 600;
  line-height: 1.7;
  color: var(--default-font-color);
}

.heading-primary {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.heading-secondary {
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-primary);
}

/////////////////////////////////////////////
// Utilities
////////////////////////////////////////////

.font-color-primary {
  color: var(--color-primary);
}
