.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  display: inline-flex;
  align-items: center;

  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-darkest);
  padding: .75rem 2rem;
  border: var(--default-border);
  border-radius: 1rem;
  box-shadow: 0 .3rem .4rem rgba(0, 0, 0, .15);

  transition: all .2s cubic-bezier(1, 0, 0, 1);
}

.btn-primary:hover {
  color: var(--color-primary);
}

.btn-primary:active {
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .35);
}

.btn-icon {
  height: 1.4rem;
  margin-right: 1rem;
  fill: currentColor;
}

.card {
  background-color: var(--color-lightest);
  padding: 2rem;
  margin-bottom: 3rem;
  border: var(--default-border);
  border-radius: 1rem;
  box-shadow: 0 .3rem .4rem rgba(0, 0, 0, .15);

  @media (min-width: 425px) {
    width: 80%;
    margin-bottom: 5rem;
  }

  @media (min-width: 768px) {
    width: 40%;
    margin-right: 10%;
  }

  &:nth-child(2n) {
    @media (min-width: 768px) and (max-width: 1199.9px) {
      margin-right: 0;
    }
  }

  @media (min-width: 1200px) {
    width: 27%;
    margin-left: 3%;
    margin-right: 3%;
  }

  &:nth-child(3n),
  &:last-child {
    @media (min-width: 1200px) {
      margin-right: 0;
    }
  }

  &:nth-child(4n),
  &:first-child {
    @media (min-width: 1200px) {
      margin-left: 0;
    }
  }


  &__header {}

  &__header-text {
    font-size: 1.2rem;
    color: var(--color-dark);
  }

  &__img {
    display: block;
    width: calc(100% + 8rem);
    margin-top: 1rem;
    margin-left: -4rem;
    border-radius: .3rem;
    border: 1px solid var(--color-light);
    box-shadow: 0 3.5rem 4rem -3.5rem rgba(0, 0, 0, .45);
  }

  &__tags {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
  }

  &__tag {
    display: inline-block;
    padding: .5rem 1.5rem;
    margin: 1rem .25rem 0 .25rem;
    background-color: var(--color-primary-light);
    border-radius: 10rem;
  }

  &__footer {
    padding: 2rem 0 1rem 0;
    text-align: center;
  }
}
