.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100vh;
  padding: 0 2rem;

  @media (min-width: 425px) {
    padding: 0;
  }

  &__sub {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: 1px;
  }

  &__cta {
    margin-top: 4rem;
  }

  &__contact-list {
    list-style: none;
    margin-top: 5rem;
  }

  &__contact-list-item {
    display: inline;
    padding: .75rem;
  }

  &__contact-link,
  &__contact-link:link,
  &__contact-link:visited {
    text-decoration: none;
    color: var(--color-darker);
  }

  &__contact-link:hover,
  &__contact-link:active {
    color: var(--color-darkest);
  }

  &__contact-icon {
    width: 2.25rem;
    fill: currentColor;
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;

  &__header {
    text-align: center;
    margin-bottom: 10rem;
  }

  &__header-text {}

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      max-width: 72rem;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: unset;
      justify-content: center;
    }

    @media (min-width: 1200px) {
      max-width: 114rem;
    }
  }
}
